name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: docker build -t ceeeeeb/test .
    - name: login dockerhub
      run: docker login -u ceeeeeb -p ${{  secrets.DOCKER_HUB_TOKEN  }}
    - name: Push image
      run: docker push ceeeeeb/test
    
